## 2022년 상반기(7~9월) 언론사별 동영상/비동영상 기사 출고량 비교분석

 방송매체: 채널A JTBC TV조선 MBN KBS MBC SBS YTN 연합뉴스TV

방송사 기사 수를 영상 기사와 영상이 포함되지 않은 기사로 구분해서 카운트

In [1]:
#라이브러리

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from datetime import date, timedelta, datetime

#headers
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

In [2]:
#날짜 함수
def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)): #해당 기간에 존재할 때 .days로 날짜 계산
        yield start_date + timedelta(n)

#https://wikidocs.net/104836
#https://sdr1982.tistory.com/m/329

start_date = date(2022,10,1)
end_date = date(2022,11,1) #하루 길게 작성 ex. 8월 31일까지 알고 싶으면 2022,9,1로 입력

In [3]:
#기사별 페이지 
def page(url):
    req = requests.get(url, headers = headers)
    html = req.text
    soup = bs(html, 'html.parser')
    search_result = soup.select('.paging')
    pages = []
    for li in search_result:
        pages.append(li.text)
    return int(pages[0].split('\n')[-2])

#요약형 기사로 크롤링 필요
1) 방송매체

채널A: 449

JTBC: 437

TV조선: 448

MBN: 057

KBS: 056

MBC: 214

SBS: 055

YTN: 052

연합뉴스TV: 422

In [4]:
#채널A - 449

channel_A = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=449&date={day}'
    for i in range(1, page(url) + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            channel_A.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            channel_A.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [5]:
#데이터프레임으로 정리
channelA_df = pd.DataFrame(channel_A, columns = ['month', 'vod'])

#월별 분류
channelA_df.groupby('month').count()

#엑셀로 직접 보는 방법: channelA_df.to_excel('8월 보도량.xlsx',encoding='utf-8-sig')

        vod
month
10     1267

In [6]:
#JTBC - 437

jtbc = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=437&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            jtbc.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            jtbc.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [7]:
#데이터프레임으로 정리
jtbc_df = pd.DataFrame(jtbc, columns = ['month', 'vod'])

#월별 분류
jtbc_df.groupby('month').count()

#jtbc_df.to_excel('8월 보도량(jtbc).xlsx',encoding='utf-8-sig')

        vod
month
10     1423

In [8]:
#TV 조선 - 448
tv_chosun = []

for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=448&date={day}'
    for i in range(1, page(url+'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            tv_chosun.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            tv_chosun.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [9]:
#데이터프레임으로 정리
tv_chosun_df = pd.DataFrame(tv_chosun, columns = ['month', 'vod'])

#월별 분류
tv_chosun_df.groupby('month').count()

#tv_chosun_df.to_excel('8월 보도량2(TV조선).xlsx',encoding='utf-8-sig')

        vod
month
10     1498

In [10]:
#MBN - 057

mbn = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=057&date={day}'
    for i in range(1, page(url+'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            mbn.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            mbn.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [11]:
#데이터프레임으로 정리
mbn_df = pd.DataFrame(mbn, columns = ['month', 'vod'])

#월별 분류
mbn_df.groupby('month').count()

        vod
month
10     2043

In [19]:
#KBS - 056
kbs = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=056&date={day}'
    for i in range(1, page(url+'&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            kbs.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            kbs.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [20]:
#데이터프레임으로 정리
kbs_df = pd.DataFrame(kbs, columns = ['month', 'vod'])

#월별 분류
kbs_df.groupby('month').count()

         vod
month
07     13174
08     13864
09     12453

In [21]:
#SBS - 055
sbs = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=055&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            sbs.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            sbs.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [22]:
#데이터프레임으로 정리
sbs_df = pd.DataFrame(sbs, columns = ['month', 'vod'])

#월별 분류
sbs_df.groupby('month').count()

        vod
month
07     2871
08     3074
09     2888

In [4]:
#YTN - 052
ytn = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=052&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            ytn.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            ytn.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [5]:
#데이터프레임으로 정리
ytn_df = pd.DataFrame(ytn, columns = ['month', 'vod'])

#월별 분류
ytn_df.groupby('month').count()

        vod
month
07     5833
08     5884
09     5551

In [6]:
#연합뉴스 - 422
yna_tv = []
for single_date in daterange(start_date, end_date):
    day = single_date.strftime("%Y%m%d")
    month = single_date.strftime('%m')
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=422&date={day}'
    for i in range(1, page(url + '&page=51') + 1):
        req = requests.get(url + f'&page={i}', headers = headers) #날짜에 따라 변하는 페이지 반영
        html = req.text
        soup = bs(html, 'html.parser')
        vod = soup.select('ul.type06 > li > dl > dt.photo > a > strong')
        vod_head = soup.select('ul.type06_headline > li > dl > dt.photo > a > strong')
        
        for i in vod:
            yna_tv.append([str(month), i.text.strip()])
            #print([str(month), i.text.strip()])

        for k in vod_head:
            yna_tv.append([str(month), k.text.strip()])
            #print([str(month), k.text.strip()])

In [7]:
#데이터프레임으로 정리
yna_tv_df = pd.DataFrame(yna_tv, columns = ['month', 'vod'])

#월별 분류
yna_tv_df.groupby('month').count()

        vod
month
07     4482
08     4635
09     4476